@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Rubik', sans-serif;
  }

  body {
    background-color: #f5f5f5;
  }
}

@layer components {
  .rounded-button {
    @apply rounded-full bg-neutral-100 p-2 text-neutral-700 hover:bg-white hover:text-blue-600;
  }

  .text-field {
    @apply z-5 mx-4 flex items-center space-x-2 rounded-lg bg-white px-2 shadow-sm hover:shadow;
  }

  .track-button {
    @apply rounded-full p-2 text-white hover:bg-blue-500 disabled:text-blue-600 disabled:hover:bg-transparent;
  }
}

@layer utilities {
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .-shadow-sm {
    box-shadow: 0 -1px 2px 0 rgb(0 0 0 / 0.05);
  }

  .-shadow {
    box-shadow:
      0 -1px 3px 0 rgb(0 0 0 / 0.1),
      0 -1px 2px -1px rgb(0 0 0 / 0.1);
  }

  .-shadow-md {
    box-shadow:
      0 -4px 6px -1px rgb(0 0 0 / 0.1),
      0 -2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .cursor-music-note {
    cursor: url('/music-note.svg'), pointer;
  }
}
